NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=
NEXT_PUBLIC_META_DATASET_ID=
NEXT_PUBLIC_APP_URL=
POSTHOG_PROJECT_API_KEY=
META_CAPI_ACCESS_TOKEN=
META_TEST_EVENT_CODE=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
BACKEND_WEBHOOK_URL=
BACKEND_WEBHOOK_SECRET=
STRIPE_PRICE_AURORA_MEAL_PLAN_ANNUAL=
NEXT_PUBLIC_META_MODE=test
