{
  auto_https off
}

:8080 {
  encode zstd gzip
  request_body {
    max_size 1MB
  }
  @nextStatic path /_next/static/*
  handle @nextStatic {
    header Cache-Control "public, immutable, max-age=604800"
    reverse_proxy web:3000
  }
  reverse_proxy web:3000 {
    header_up Host {host}
    header_up X-Real-IP {remote_host}
    header_up X-Forwarded-For {client_ip}
    header_up X-Forwarded-Proto {scheme}
    transport http {
      read_timeout 60s
    }
  }
}
